<h1>Documents</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Template</th>
      <th>Business</th>
      <th>Counterparty</th>
      <th>Document number</th>
      <th>Signing date</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.template %></td>
        <td><%= document.business.company_short_name %></td>
        <td><%= document.counterparty.company_short_name %></td>
        <td><%= document.contract_num %></td>
        <td><%= document.signing_date %></td>
        <td><%= link_to 'Download', document %></td>
        <td><%= link_to 'Show', document %></td>
        <td><%= link_to 'Edit', edit_document_path(document) %></td>
        <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document', new_document_path, class: 'btn btn-primary' %>
